---
export interface Props {
  title: string;
  internalLink: {
    slug: string;
  };
}

const { title, internalLink } = Astro.props;
---

<a class="primary-button" href={`/${internalLink.slug}`}>{title}</a>

<style>
  .primary-button {
    color: var(--palette-white);
    background-color: var(--palette-blue);
    padding: 6px 16px;
    border-radius: 4px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: var(--step--1);
    font-weight: 500;
    letter-spacing: 0.4px;
    transition: background-color 0.25s ease-in-out;
    display: flex;
    gap: var(--space-2xs);
    align-items: center;
  }

  .primary-button:hover {
    background-color: var(--palette-blue-hover);
    color: var(--palette-white);
  }
</style>
