---
import { getCollection } from "astro:content";
import { Icon } from "astro-icon";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import Section from "../components/Section.astro";
import type { NavItem } from "../components/Nav.astro";

const title = "Mario Rossi";
const description = "Mario Rossi";

const nav: NavItem[] = [];
---

<Layout title={title} description={description}>
	<!-- <Nav items={nav} />
	<Header title={title}>
		{"Repellendus in suscipit est repellat quisquam non voluptatibus."}
	</Header> -->
	
		
	
	<section class="box-container blue-box-container">
		<div class="box-content secondary-box-content">
			<p>
				{
					"Voluptatibus pariatur rerum architecto voluptatibus numquam vel itaque. Sequi consequatur et assumenda dolor necessitatibus. Ipsa maxime nisi ratione reprehenderit ex laboriosam illum. Fugit itaque ratione exercitationem unde libero harum quo. Illo explicabo vel fugit ipsa."
				}
			</p>
		</div>
	</section>
	<section class="box-container">
		<div class="box-content secondary-box-content">
			<h2>Et ex non officia id ea illo dolor et aut</h2>
			<p>
				{
					"Dolorem et sit iure deserunt dolor suscipit eveniet. Aperiam reiciendis et iste nihil architecto deleniti fuga. Ipsa nostrum quae esse voluptatibus. Rem rem explicabo possimus. Non maiores eveniet. Dolore quo quibusdam distinctio pariatur illum non eos dolores."
				}
			</p>
		</div>
	</section>
	
</Layout>

<style>
	.box-content > img {
		width: 100%;
	}

	.main-box-container {
		background-image: url("/public/home-background-1.jpg");
		background-size: cover;
		color: var(--palette-white);
		flex-direction: row;
		justify-content: center;
	}

	.main-box-content {
		flex-direction: row;
		align-items: center;
		gap: 60px;
	}

	.main-box-container p {
		margin: 0;
	}

	.secondary-box-content {
		flex-direction: column;
		align-items: flex-start;
	}

	.blue-box-container {
		background-color: var(--palette-blue);
		color: var(--palette-white);
	}

	.cta-box-container {
		min-height: 0;
	}

	.cta-box-content {
		flex-direction: row;
		justify-content: flex-end;
	}
</style>
